body {
    background: #383942 url("../images/primo.jpg") repeat;

    margin: auto;
    width: 50%;
    padding: 10px;

}

h1 {
    color: green;
    text-align: center;
}
p,li {
    font-family: Roboto , sans-serif;
    font-weight: normal;
    background-color: darkred;
    box-shadow: 10px 10px 5px gray;
    color: mediumpurple;
}

h2 {
    text-align: center;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    color : yellowgreen;
    background-color: #383942;
    margin-right: 60%;
}

a {
    font-family: Roboto, sans-serif;
    font-weight: normal;
    color: dodgerblue;
}

img {
    display: block;
    margin: auto;
}
